*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  color: #383838;
  letter-spacing: .03em;
}

/*nav bar*/

nav {
  background-color: #FFCC00;
  height: 10em;
}

#statusBar, #logo{
display: block;
margin: 0 auto;
}



#location {
  font-size: 2em;
  text-align: center;
  padding-top: 1em;;

}

h2 {
  font-size: 2em;
  font-weight: 600;
  padding: 3%;
  background-color: #FFCC00;
}

#backButton {
    position: absolute;
    padding-top: 2em;
}

#back{
  float: left;
  margin-left: .2em;
  font-size: 1.2em;
  padding-top: .25em;
}

#leftChevron {
  float: left;
  padding-left: .2em;
}

.bus {

  padding: 5%;
  border-bottom: .1em solid gray;
  width: 100%;
  font-size: 1.5em;

}

.star{
  float: left;
  margin-left: -.5em;
  margin-right: .5em;
  margin-top: -.5em;
}

.busline {
  font-weight: bold;
    float: left;
    margin-right: 1em;
}

.map {
  background-image: url("../images/map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #cccccc;
  height: 30em;
  width: 100%;
}


.star:hover {
  color:yellow;
  text-shadow: 0px 0px 3px #000;} /* mouse over */

.frequency {
  float: right;
  margin-top: -1em;
}
